body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7fafc; 
  color: #333;
  line-height: 1.5;
  height: 100%;  /* zapewnia, że html i body zajmą pełną wysokość ekranu */
  margin: 0;
}

.container {
  min-height: 100vh;  /* zapewnia pełną wysokość ekranu */
  display: flex;      /* ustawia elementy w flexbox */
  flex-direction: column;  /* układa elementy w kolumnie (domyślnie) */
  justify-content: center;  /* wyśrodkowuje elementy w pionie */
  align-items: center;  /* wyśrodkowuje elementy w poziomie */
  padding: 20px;
  color: white;
  position: relative;
  overflow: hidden;
}

.background-image-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #0099ff, #66ccff);
  z-index: 0;
  transition: background 1s ease;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: 0;
  opacity: 0.8;
  transition: filter 1s ease-in-out, background-image 1s ease-in-out;
}

.title {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.select-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
  z-index: 1;
}

.select {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  background-color: #fff;
  color: #333;
  z-index: 1;
}

.select:hover {
  background-color: #f0f0f0;
}

.button {
  background-color: #38b2ac;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin-bottom: 20px;
  z-index: 1;
}

.button:hover {
  background-color: #319795;
}

.button:disabled {
  background-color: #cbd5e0;
  cursor: not-allowed;
}

/* Karta z danymi pogodowymi */
.weather-card-red-background {
  background-color: #f56565;
  color: white;
  border-radius: 12px;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1;
}

.weather-card-green-background {
  background-color: #48bb78;
  color: white;
  border-radius: 12px;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1;

}

.weather-card-blue-background {
  background-color: #63b3ed;
  color: white;
  border-radius: 12px;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1;

}

/* Responsywność */
@media (max-width: 768px) {
  .container {
    padding: 10px;
    align-items: flex-start;
    z-index: 1;

  }

  .title {
    font-size: 2rem;
    z-index: 1;

  }

  .select-container {
    width: 100%;
  }

  .select,
  .button {
    width: 100%;
    font-size: 1.2rem;
    padding: 12px;
  }

  .weather-info {
    width: 100%;
    padding: 15px;
  }

  .weather-card {
    width: 90%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }

  .select,
  .button {
    font-size: 1.1rem;
    padding: 10px;
  }
}
